
.card {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * $card-set-gap);
    margin-left: calc(-1 * $card-set-gap);
}

.card__item {
    width: calc((100% / 3) - $card-set-gap); 
    margin-top: $card-set-gap;
    margin-left: $card-set-gap;
}

.descr {
    position: relative;
    overflow: hidden;
}

.descr__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $portfolio-hover-card-background-color;
    margin: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $hero-footer-text-color;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
.card__link:hover &,
    .card__link:focus & {
        transform: translateY(0);
    }
}



.descr__text {
    position: absolute;
    margin: 0px;
    padding: 63px 24px;
}


.card__link {
    display: block;
    text-decoration: none;
&:hover,
    &:focus {
        color: $accent-color;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }}



.card__description {
    border: 1px solid $portfolio-background-color;
    border-top: none;
    padding: 20px 24px;
}

.card__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0px;
    margin-bottom: 4px;
}

.card__text {
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin-bottom: 0px;
    margin-top: 0px;
}