.contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 318px;
    gap: 30px;
}

.contact__link {
    display: flex;
    align-items: center;
    fill: $primary-text-color;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 32px 0px;
    gap: 10px;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            color: $accent-color;
            fill: $accent-color;
        }
}

