
.filter {
    padding: 94px 0px;
}

.filter__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 50px;
}

.filter__btn {
    color: $title-text-color;
    background-color: $our-command-background-button-portfolio-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
    &:focus {
        color: $hero-footer-text-color;
        background-color: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }}

.filter__btn--current {
    color: $hero-footer-text-color;
    background-color: $accent-color;
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

