.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    background-color: $hero-footer-background-color;
    padding: 200px 0px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/hero.jpg);
    background-position: center;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: $hero-footer-text-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    max-width: 696px;
}

.hero__button {
    color: $hero-footer-text-color;
    background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 32px;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
    color: $hero-footer-text-color;
    background-color: $hero-button-active;
}