$primary-text-color: #757575;
$title-text-color: #212121;
$logo-text-color: #000000;
$accent-color: #2196f3;
$hero-footer-text-color: #ffffff;
$hero-footer-background-color: #2f303a;
$portfolio-background-color: #eeeeee;
$our-command-background-button-portfolio-color: #f5f4fa;
$contact-footer-text-color: #ffffff60;
$header-color: #ececec;
$hero-button-active: #188ce8;
$color-social-link-and-clients: #afb1b8;
$footer-social-background-color: #ffffff10;
$hero-background-color: #2f303a40;
$card-set-gap: 30px;
$portfolio-hover-card-background-color: #2196f3e6;
$backdrop-color: #00000020;
$contact-form-border-color: #21212133;
$footer-form-border-color: #ffffff40;